.App {
  text-align: center;
  font-family: "Ringside Extra Wide SSm A", "Ringside Extra Wide SSm B";
  font-style: normal;
  font-weight: 500;
  height: auto;
  width: auto;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

h1 {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 800;
}

h2 {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 800;
  text-shadow: 0 0 2.5rem black;
}

h3 {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 400;
  text-shadow: 0 0 2.5rem black;
}

h4,
h5,
h6,
p {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 400;
}

.hero {
  visibility: hidden;
}

.home {
  background-image: url("./assets/pasta.jpg");
}

.recipes-container {
  background-image: url("./assets/recipe.jpg");
  background-size: cover;
  background-position: center center;
  height: 34rem;
  width: 100vw;
}

.login-container {
  background-image: url('./assets/churros.jpg');
  background-size: cover;
  background-position: 25% 25%;
  height: 39rem;
  width: 100vw
}

.logout-container {
  background-image: url('./assets/spices.jpg');
  background-size: cover;
  background-position: 25% 25%;
  height: 39rem;
  width: 100vw
}

.vault-container {
  background-image: url('./assets/bread.jpg');
  background-size: cover;
  background-position: 25% 25%;
  height: 39rem;
  width: 100vw
}

.about-container {
  background-image: url("./assets/about.jpg");
  background-size: cover;
  background-position: 25% 25%;
  height: 39rem;
  width: 100vw;
}

.chef-container {
  background-image: url("./assets/chef.jpg");
  background-size: cover;
  background-position: center center;
  height: 39rem;
  width: 100vw;
}

.nutrition-container {
  background-image: url("./assets/nutrition.jpg");
  background-size: cover;
  background-position: 25% 25%;
  height: 34rem;
  width: 100vw;
}

.cocktail-container {
  background-image: url("./assets/vino-bg.jpg");
  background-size: cover;
  background-position: center 5%;
  height: 39rem;
  width: 100vw;
}

.content-wine {
  background-image: url("./assets/sunset.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
}

.progress {
  color: black;
}

.progress-container {
  height: 64vh;
  background-image: url("./assets/wines.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
}

@media screen and (max-width: 400px) {
  .mobile-hide {
    display: none;
  }
}
.pink-image {
  background-color: white;
}

.slides {
  padding: 0;
  max-width: 640px;
  min-width: 375px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 375px;
  height: 420px;
  display: block;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.slide Youtube {
  max-width: 640px;
  min-width: 375px;
  height: 100%;
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777;
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8,
input#img-9:checked ~ .nav-dots label#img-dot-9,
input#img-10:checked ~ .nav-dots label#img-dot-10 {
  background: rgba(0, 0, 0, 0.8);
}

/*Zoom #1 Animation*/
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Zoom In #2 Animation*/
.hover02 figure img {
  width: 300px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover02 figure:hover img {
  width: 350px;
}

/* Gray Scale Animation*/
.hover08 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
