.App {
  text-align: center;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: "Ringside Extra Wide SSm A", "Ringside Extra Wide SSm B";
  font-style: normal;
  font-weight: 500;
}

.home {
  // this creates a background image
  background-image: url("./assets/pasta.jpg");
}

.recipes-container {
  background-image: url('./assets/kitchenbg.jpg');
  background-size: cover;

}

